
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face{
    font-family: gilroysemibold;
    src: url("./assets/gilroy/Gilroy-SemiBold.ttf");
}
*{
    padding: 0;
    margin: 0;
}
body{
   
    font-family: "Rubik",sans-serif;
    overflow:scroll;
    background-color: white;
  
    
}
.top-section{
    background-image: url('assets/images/Bitmap.png');
    padding: 0.5rem 5rem;
    width: 100%;
  

}
.get-button{
    background: rgba(71, 59, 240, 1);
    color: white;
    font-family: gilroybold;
  
    
}
.get-button:hover{
    color: rgba(71, 59, 240, 1) ;
    border: 2px solid rgba(71, 59, 240, 1);
    font-family: gilroybold;
}
.nav-item{
    padding-left: 20px;
   

}







@media (max-width:600px){
    body {
        overflow-x: hidden !important;
    }
    .nav-item{
        padding: 0;
    }
    .top-section{
        padding: 0.1rem 0.5rem;
        width: 100%;
    }
    .text-hero2{
        font-size: 30px;
    
    
    }
  .hero-section{
    padding-left: 50px !important;
    width: 100%;
  }
}